<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: meta ('Show Recipes','styles.css')}"></head>
<body>
<nav th:replace="~{header :: menu}"></nav>
<h1>Recipes</h1>
<table th:if="${recipes.iterator().hasNext()}">
    <thead>
    <tr>
        <th>Show recipe</th>
        <th>Name</th>
        <th>Difficulty</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="r :${recipes}">
        <td><a th:href="@{'/recipe/' + ${r.id}}">Show</a></td>
        <td th:text="${r.description}"></td>
        <td th:text="${r.difficulty}"></td>
    </tr>
    </tbody>
</table>
<div class="center">
    <a class="boxLink" th:href="@{'/recipe/add'}">Add Recipe</a>
</div>
<footer th:replace="~{footer:: footer}"></footer>
</body>
</html>