<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Add Ingredient</h2>
<form th:object="${ingredient}" th:action="@{/recipe/1/ingredient/add/}" method="post">
    <label>
        <input type="text" th:field="*{description}"/>
        <input type="text" th:field="*{amount}"/>
        <select th:field="*{unitOfMeasure}" >
            <option th:each="u: ${uoms}" th:value="${u.uom}" th:text="${u.uom}"></option>
        </select>
    </label>
    <button type="submit">Submit</button>
    <div th:if="${#fields.hasErrors('*')}">
        <p>Please Correct Errors Below</p>
        <span th:if="${#fields.hasErrors('description')}">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('amount')}">
            <ul>
                <li th:each="err : ${#fields.errors('amount')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('unitOfMeasure')}">
            <ul>
                <li th:each="err : ${#fields.errors('unitOfMeasure')}" th:text="${err}"></li>
            </ul>
        </span>
    </div>
</form>

</body>
</html>