<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: meta ('Add New Recipe','../styles.css')}"></head>
<body>
<nav th:replace="~{header :: menu}"></nav>
<h2>Add new recipe</h2>

<form th:object="${recipe}" th:action="@{/recipe/add}" method="post">

    <label class="links">Description: <input type="text" th:field="*{description}"></label>
    <label class="links">Prep Time: <input type="text" th:field="*{prepTime}"></label>
    <label class="links">Cook Time: <input type="text" th:field="*{cookTime}"></label>
    <label class="links">Servings: <input type="text" th:field="*{servings}"></label>
    <label class="links">Source: <input type="text" th:field="*{source}"></label>
    <label class="links">Url: <input type="text" th:field="*{url}"></label>
    <label class="links">Directions: <textarea th:field="*{directions}"></textarea></label>
    <label>Difficulty: <select th:field="*{difficulty}">
        <option th:each="d: ${diff}" th:value="${d}" th:text="${d.toString()}"></option>
    </select></label>
    <button style="float: right" class="boxLink" type="submit">Add</button>
    <div class="error" th:if="${#fields.hasErrors('*')}">
        <p>Please Correct Errors Below</p>
        <span th:if="${#fields.hasErrors('description')}">
            <ul>
                Description: <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('prepTime')}">
            <ul>
                Prep Time: <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('cookTime')}">
            <ul>
                Cook Time: <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('servings')}">
            <ul>
                Servings: <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('source')}">
            <ul>
                Source: <li th:each="err : ${#fields.errors('source')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('url')}">
            <ul>
                Url: <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('directions')}">
            <ul>
                Directions: <li th:each="err : ${#fields.errors('directions')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('difficulty')}">
            <ul>
               Difficulty: <li th:each="err : ${#fields.errors('difficulty')}" th:text="${err}"></li>
            </ul>
        </span>
    </div>
</form>
<footer th:replace="~{footer:: footer}"></footer>
</body>
</html>