<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Unit of Measure</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../../styles.css}">

</head>
<body>
<nav th:replace="~{header :: menu}"></nav>
<h2 th:if="${uom.id != null}">Edit Unit of Measure</h2>
<h2 th:if="${uom.id == null}">Add Unit of Measure</h2>
<!--/*@thymesVar id="uom" type="com.mgosciminski.recipe.domain.UnitOfMeasure"*/-->
<form th:object="${uom}" th:action="@{/uom/new/}" method="post">
    <label>
        <input type="hidden" th:field="*{id}">
        Description: <input type="text" th:field="*{description}"/>
    </label>
    <button class="boxLink" style="float: right" type="submit">Add</button>
    <div class="error" th:if="${#fields.hasErrors('*')}">
        <p>Please Correct Errors Below</p>
        <span th:if="${#fields.hasErrors('description')}">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </span>
    </div>
</form>
<footer th:replace="~{footer:: footer}"></footer>
</body>
</html>