<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Recipes</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../../styles.css}">
</head>
<body>
<nav th:replace="~{header :: menu}"></nav>
<h2>Edit recipe</h2>
<div class="center">
    <a th:href="@{'/recipe/'+${recipe.id}}">Back to recipe</a>
</div>
<form th:object="${recipe}" th:action="@{/recipe/__${recipe.id}__/edit}" method="post">
    <label class="links">Description: <input type="text" th:field="*{description}"></label>
    <label class="links">Prep Time: <input type="text" th:field="*{prepTime}"></label>
    <label class="links">Cook Time: <input type="text" th:field="*{cookTime}"></label>
    <label class="links">Servings: <input type="text" th:field="*{servings}"></label>
    <label class="links">Source: <input type="text" th:field="*{source}"></label>
    <label class="links">Url: <input type="text" th:field="*{url}"></label>
    <label class="links">Directions: <textarea th:field="*{directions}"></textarea></label>
    <label>Difficulty: <select th:field="*{difficulty}">
        <option th:each="d: ${diff}" th:value="${d}" th:text="${d.toString()}"
                th:selected="(${diff}==${recipe.difficulty})"></option>
    </select></label>

    <button class="boxLink" style="float: right" type="submit">Submit</button>
    <div class="error" th:if="${#fields.hasErrors('*')}">
        <p>Please Correct Errors Below</p>
        <span th:if="${#fields.hasErrors('description')}">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('prepTime')}">
            <ul>
                <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('cookTime')}">
            <ul>
                <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('servings')}">
            <ul>
                <li th:each="err : ${#fields.errors('servings')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('source')}">
            <ul>
                <li th:each="err : ${#fields.errors('source')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('url')}">
            <ul>
                <li th:each="err : ${#fields.errors('url')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('directions')}">
            <ul>
                <li th:each="err : ${#fields.errors('directions')}" th:text="${err}"></li>
            </ul>
        </span>
        <span th:if="${#fields.hasErrors('difficulty')}">
            <ul>
                <li th:each="err : ${#fields.errors('difficulty')}" th:text="${err}"></li>
            </ul>
        </span>
    </div>
</form>
<footer th:replace="~{footer:: footer}"></footer>
</body>
</html>