<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: meta ('Edit Note','../../styles.css')}"></head>
<body>
<nav th:replace="~{header :: menu}"></nav>
<h2>Edit note</h2>
<div class="center">
<a th:href="@{'/recipe/' + ${recipe.id}}">Back To Recipe</a>
</div>
<form th:object="${note}" th:action="@{/recipe/__${recipe.id}__/note}" method="post">
    <label>
        <input type="hidden" th:field="*{id}" th:value="*{id}">
        Description: <textarea name="notes" th:field="*{description}" th:value="*{description}"></textarea>
    </label>
    <button class="boxLink" style="float: right" type="submit">Add</button>
    <div class="error" th:if="${#fields.hasErrors('*')}">
        <p>Please Correct Errors Below</p>
        <span th:if="${#fields.hasErrors('description')}">
            <ul>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
            </ul>
        </span>
    </div>
</form>
<footer th:replace="~{footer:: footer}"></footer>
</body>
</html>