<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View recipe</title>
</head>
<body>
<a th:href="@{'/recipe/'}">Back to recipes</a>
<h2>Recipes</h2>
<a th:href="@{'/recipe/'+${recipe.id}+'/edit'}">Edit</a>
<a th:href="@{'/recipe/'+${recipe.id}+'/delete'}">Delete</a>
<table>
    <thead>
    <tr>
        <th>Description</th>
        <th>Prep Time</th>
        <th>Cook Time</th>
        <th>Servings</th>
        <th>Source</th>
        <th>Url</th>
        <th>Directions</th>
        <th>Difficulty</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.prepTime}"></td>
        <td th:text="${recipe.cookTime}"></td>
        <td th:text="${recipe.servings}"></td>
        <td th:text="${recipe.source}"></td>
        <td th:text="${recipe.url}"></td>
        <td th:text="${recipe.directions}"></td>
        <td th:text="${recipe.difficulty}"></td>
    </tr>
    </tbody>
</table>

<h2>Notes</h2>
<a th:href="@{'/recipe/'+${recipe.id}+'/note'}">Edit</a>

<p th:if="${recipe.notes != null}" th:text="${recipe.notes.description}"></p>

<h2>Ingredients</h2>
<a th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/add'}">Add</a>
<a th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}">Edit</a>
<div th:each="i: ${recipe.ingredients}">
    <p th:text="${i.description}"></p>
</div>

<h2>Categories</h2>
<a th:href="@{'/recipe/' + ${recipe.id} + '/categories'}">Edit</a>
<div th:each="c: ${recipe.categories}">
    <p th:text="${c.name}"></p>
</div>

</body>
</html>